@using Catpic.Host.Engine
@model Catpic.Host.Models.LoginModel
@this.ScriptBlock(
    @<script type='text/javascript' src="@Url.Content("~/scripts/portal/login.js")"></script>
)
@this.StyleBlock(@<link href="@Url.Content("~/Content/Portal/login.css")" rel="stylesheet" type="text/css" />)

@using (Html.BeginForm("Login", "Account", new { area = "Portal"}, FormMethod.Post))
{
    @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")

    <fieldset class="login">
        <legend class="center">Log in Form</legend>
        <ol>
            <li class="login-box focus">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName) 
            </li>
            <li class="login-box focus">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li class="login-box-rememberme">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe/*, new { @class = "checkbox" }*/)
            </li>
        </ol>
           
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
    <div class="center">
        <input type="submit" class="button" value="Login" />
		<a id="btn-close" href="" class="button">Close</a>
    </div>
}